In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
mixed=['pokhraj',3.14,True]
print(mixed)

['pokhraj', 3.14, True]

In [3]:
fruits=['apple','banana','cherry','kiwi','guava']

In [4]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
guava
guava

In [10]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:-3])

['banana', 'cherry', 'kiwi', 'guava']
['banana', 'cherry']
[]

In [11]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [12]:
fruits[1]='watermelon'

In [13]:
fruits

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [14]:
fruits[1:]='watermelon'

In [15]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [16]:
fruits.append('orange')

In [17]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [18]:
fruits=['apple','banana','cherry','kiwi','guava','orange']

In [20]:
fruits.insert(1,'watermelon')
print(fruits)

['apple', 'watermelon', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [21]:
fruits.remove('banana')
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [22]:
fruits.pop()

'orange'

In [23]:
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'guava']

In [24]:
fruits.index('cherry')

3

In [25]:
fruits.insert(2,'banana')

In [28]:
fruits.count('watermelon')

2

In [27]:
fruits

['apple', 'watermelon', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava']

In [29]:
fruits.sort()

In [30]:
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon', 'watermelon']

In [31]:
fruits.reverse()

In [32]:
fruits

['watermelon', 'watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'apple']

In [33]:
fruits.clear()

In [34]:
fruits

[]

In [35]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])

print(numbers[:5])

print(numbers[5:])

print(numbers[::2])

print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [41]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [43]:
lst=[]

for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
lst = [x**2 for x in range(10)]

In [46]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
square=[num*2 for num in range(10) if num%2==0]
print(square)

square=[num*2 if num%2==0 else num**3 for num in range(10)]
print(square)

[0, 4, 8, 12, 16]
[0, 1, 4, 27, 8, 125, 12, 343, 16, 729]

In [54]:
lst1=[1,2,3,4]
lst2=['a','b','v','d']

pair=[(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'v'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'v'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'v'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'v'), (4, 'd')]

In [55]:
words=['hello','world','python','list','comprehension']
lengths=[len(word) for word in words]

print(lengths)

[5, 5, 6, 4, 13]

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [3]:
mixed_tup=(1,'hello world',3.14,True)
mixed_tup

(1, 'hello world', 3.14, True)

In [4]:
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
print(numbers[2])
print(numbers[-1])

3
6

In [7]:
numbers[0:4]

(1, 2, 3, 4)

In [8]:
numbers+mixed_tup

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [9]:
mixed_tup*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [10]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [12]:
lst=[1,2,3,4,5]
print(lst)

lst[1]='Pokhraj'

[1, 2, 3, 4, 5]

In [13]:
numbers[1]='pokhraj'

TypeError: 'tuple' object does not support item assignment

In [15]:
print(numbers)
print(numbers.count(1))
print(numbers.index(3))

(1, 2, 3, 4, 5, 6)
1
2

In [16]:
packed_tuple=1,'hello',3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [17]:
a,b,c=packed_tuple

In [18]:
print(a)
print(b)
print(c)

1
hello
3.14

In [19]:
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers

In [20]:
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [21]:
print(type(middle))

<class 'list'>

In [25]:
lst=[[1,2,3,4],[6,7,8,9],(1,'Hello',3.14,'c')]
lst[0][0:3]

[1, 2, 3]

In [26]:
nested_tuple=((1,2,3),('1','b','c'),(True, False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [27]:
for sub_tup in nested_tuple:
    for item in sub_tup:
        print(item,end=" ")
    print()

1 2 3
1 b c
True False

In [28]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [29]:
my_set=set([1,2,3,4,5])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [35]:
my_set={1,2,3,3,3,3,4,5,6,5,6,7,7,8,9,8,9,5,5}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
my_set.add(7)

In [37]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
my_set.remove(7)

In [39]:
my_set

{1, 2, 3, 4, 5, 6, 8, 9}

In [40]:
my_set.remove(10)

KeyError: 10

In [41]:
my_set.discard(10)

In [42]:
my_set.pop()

1

In [43]:
my_set

{2, 3, 4, 5, 6, 8, 9}

In [44]:
my_set.pop()

2

In [46]:
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [49]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

union_set=set1.union(set2)
print(union_set)

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [51]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [52]:
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [59]:
set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [61]:
lt=[1,2,2,3,4,4,5]
set(lt)

{1, 2, 3, 4, 5}

In [62]:
text='In this tutorial we are discussin about sets'
words=text.split()

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'In', 'discussin', 'are', 'this', 'we', 'tutorial', 'about', 'sets'}
8

In [67]:
print(unique_words)

{'In', 'discussin', 'are', 'this', 'we', 'tutorial', 'about', 'sets'}

In [63]:
for word in unique_words:
    print(word)

In
discussin
are
this
we
tutorial
about
sets

In [64]:
for word in unique_words:
    print(word)

In
discussin
are
this
we
tutorial
about
sets

In [1]:
emplty_dict={}
print(type(emplty_dict))

<class 'dict'>

In [3]:
empty_dict=dict()
empty_dict

{}

In [4]:
student={'name':'pokhraj','age':26,'grade':24}
print(student)
print(type(student))

{'name': 'pokhraj', 'age': 26, 'grade': 24}
<class 'dict'>

In [5]:
student={'name':'pokhraj','age':26,'grade':24}
print(student)

{'name': 'pokhraj', 'age': 26, 'grade': 24}

In [9]:
print(student['grade'])
print(student['age'])

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))

24
26
24
None
Not Available

In [10]:
student['age']=33
print(student)

student['country']='India'
print(student)

{'name': 'pokhraj', 'age': 33, 'grade': 24}
{'name': 'pokhraj', 'age': 33, 'grade': 24, 'country': 'India'}

In [11]:
del student['grade']

In [12]:
print(student)

{'name': 'pokhraj', 'age': 33, 'country': 'India'}

In [13]:
keys=student.keys()
print(keys)

dict_keys(['name', 'age', 'country'])

In [14]:
values=student.values()
print(values)

dict_values(['pokhraj', 33, 'India'])

In [15]:
items=student.items()
print(items)

dict_items([('name', 'pokhraj'), ('age', 33), ('country', 'India')])

In [16]:
student_copy=student
print(student)
print(student_copy)

{'name': 'pokhraj', 'age': 33, 'country': 'India'}
{'name': 'pokhraj', 'age': 33, 'country': 'India'}

In [17]:
student['name']='Pokhraj2'
print(student)
print(student_copy)

{'name': 'Pokhraj2', 'age': 33, 'country': 'India'}
{'name': 'Pokhraj2', 'age': 33, 'country': 'India'}

In [18]:
student_copy=student.copy()
print(student)
print(student_copy)

{'name': 'Pokhraj2', 'age': 33, 'country': 'India'}
{'name': 'Pokhraj2', 'age': 33, 'country': 'India'}

In [19]:
student['name']='Pokhraj3'
print(student)
print(student_copy)

{'name': 'Pokhraj3', 'age': 33, 'country': 'India'}
{'name': 'Pokhraj2', 'age': 33, 'country': 'India'}

In [20]:
for keys in student.keys():
    print(student[keys])

Pokhraj3
33
India

In [22]:
for value in student.values():
    print(value)

Pokhraj3
33
India

In [23]:
for key,value in student.items():
    print(f'{keys} : {value}')

country : Pokhraj3
country : 33
country : India

In [25]:
students={
    'student1':{'name':'Pokhraj','age':26},
    'student2':{'name':'Peter','age':25}
}

In [27]:
print(students['student1']['name'])
print(students['student2']['name'])

Pokhraj
Peter

In [28]:
students.items()

dict_items([('student1', {'name': 'Pokhraj', 'age': 26}), ('student2', {'name': 'Peter', 'age': 25})])

In [34]:
for student_id, student_info in students.items():
    print(f'{student_id} : {student_info}')
    for key, value in student_info.items():
        print(f'{key}:{value}')

student1 : {'name': 'Pokhraj', 'age': 26}
name:Pokhraj
age:26
student2 : {'name': 'Peter', 'age': 25}
name:Peter
age:25

In [35]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [36]:
evens={x:x**2 for x in range(10) if x%2==0}

In [37]:
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [40]:
numbers=[1,2,2,3,3,3,4,4,4,4]

frequency=dict()

for num in numbers:
    if num in frequency.keys():
        frequency[num]+=1
    else:
        frequency[num]=1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [46]:
dict1={'a':1,'b':2}
dict2={'b':7,'d':9,'c':4,'a':5}

merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 5, 'b': 7, 'd': 9, 'c': 4}