In [1]:
age=20

if age>=18:
    print('You are allowed to vote in the elections')

You are allowed to vote in the elections

In [3]:
age=16

if age>=18:
    print('you are eligible for votinh')
else:
    print('you are a minor')

you are a minor

In [5]:
age=17

if age<13:
    print('You are a child')
elif age<18:
    print('You are a teenager')
else:
    print('Hey you are an adult')

You are a teenager

In [7]:
num=int(input('Enter the number'))

if num>=0:
    print('The number is positive')
    if num%2==0:
        print('The number is even')
    else:
        print('The number is odd')
else:
    print('The number is zero or negative')

The number is zero or negative

In [10]:
year=int(input('Enter the year'))

if year%4==0:
    print('Its a leap year')
else:
    print('Its not a leap year')

Its a leap year

In [11]:
num1=float(input("Enter the first number: "))
num2=float(input("Enter the second number: "))
opr=input("Enter operation (+, -, *, /): ")

if opr=='+':
    result=num1+num2
elif opr=='-':
    result=num1-num2
elif opr=='*':
    result=num1*num2
else:
    if num2!=0:
        result=num1/num2
    else:
        result='Invalid operation'
print(result)

0.5

In [16]:
age=int(input('Enter your age: '))
is_student=input('Are you a student? (yes/No): ').lower()

if age<5:
    price='Free'
elif age<=12:
    price='$10'
elif age<=17:
    if is_student=='yes':
        price='$12'
    else:
        price='$15'
elif age<=64:
    if is_student=='yes':
        price='$18'
    else:
        price='$25'
else:
    price='$20'

print('Ticket Price:', price)

Ticket Price: $25

In [18]:
range(5)

range(0, 5)

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [23]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [26]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [27]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [28]:
str='Pokhraj Prasad'

for i in str:
    print(i)

P
o
k
h
r
a
j

P
r
a
s
a
d

In [29]:
count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [30]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [31]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [33]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [35]:
for i in range(5):
    if i==3:
        print('The number is',i)
        pass
    print(i)

0
1
2
The number is 3
3
4

In [36]:
for i in range(3):
    for j in range(2):
        print(f'i:{i} and j:{j}')

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [37]:
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print('Sumof first n natural number:',sum)

Sumof first n natural number: 55

In [39]:
n=10
sum=0

for i in range(11):
    sum=sum+i

print(sum)

55

In [41]:
for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97