In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
mixed=['pokhraj',3.14,True]
print(mixed)

['pokhraj', 3.14, True]

In [3]:
fruits=['apple','banana','cherry','kiwi','guava']

In [4]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
guava
guava

In [10]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:-3])

['banana', 'cherry', 'kiwi', 'guava']
['banana', 'cherry']
[]

In [11]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [12]:
fruits[1]='watermelon'

In [13]:
fruits

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [14]:
fruits[1:]='watermelon'

In [15]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [16]:
fruits.append('orange')

In [17]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [18]:
fruits=['apple','banana','cherry','kiwi','guava','orange']

In [20]:
fruits.insert(1,'watermelon')
print(fruits)

['apple', 'watermelon', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [21]:
fruits.remove('banana')
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

In [22]:
fruits.pop()

'orange'

In [23]:
print(fruits)

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'guava']

In [24]:
fruits.index('cherry')

3

In [25]:
fruits.insert(2,'banana')

In [28]:
fruits.count('watermelon')

2

In [27]:
fruits

['apple', 'watermelon', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava']

In [29]:
fruits.sort()

In [30]:
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon', 'watermelon']

In [31]:
fruits.reverse()

In [32]:
fruits

['watermelon', 'watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'apple']

In [33]:
fruits.clear()

In [34]:
fruits

[]

In [35]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])

print(numbers[:5])

print(numbers[5:])

print(numbers[::2])

print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [41]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [43]:
lst=[]

for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
lst = [x**2 for x in range(10)]

In [46]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
square=[num*2 for num in range(10) if num%2==0]
print(square)

square=[num*2 if num%2==0 else num**3 for num in range(10)]
print(square)

[0, 4, 8, 12, 16]
[0, 1, 4, 27, 8, 125, 12, 343, 16, 729]

In [54]:
lst1=[1,2,3,4]
lst2=['a','b','v','d']

pair=[(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'v'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'v'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'v'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'v'), (4, 'd')]

In [55]:
words=['hello','world','python','list','comprehension']
lengths=[len(word) for word in words]

print(lengths)

[5, 5, 6, 4, 13]

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [3]:
mixed_tup=(1,'hello world',3.14,True)
mixed_tup

(1, 'hello world', 3.14, True)

In [4]:
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
print(numbers[2])
print(numbers[-1])

3
6

In [7]:
numbers[0:4]

(1, 2, 3, 4)

In [8]:
numbers+mixed_tup

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [9]:
mixed_tup*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [10]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [12]:
lst=[1,2,3,4,5]
print(lst)

lst[1]='Pokhraj'

[1, 2, 3, 4, 5]