In [1]:
num=24

The num is even

In [4]:
def even_or_odd(num):
    "This functions finds even or odd"
    if num%2==0:
        print('The number is even ')
    else:
        print('The number is odd')

In [5]:
even_or_odd(24)

The number is even

In [8]:
def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [2]:
def greet(name='guest'):
    print(f'Hello {name}')

greet('Pokhraj')
greet()

Hello Pokhraj
Hello guest

In [5]:
def print_numbers(*pokhraj):
    for number in pokhraj:
        print(number)

In [6]:
print_numbers(1,2,3,4,5,6,7,8,'Pokhraj')

1
2
3
4
5
6
7
8
Pokhraj

In [7]:
def print_details(**var):
    for key,value in var.items():
        print(f'{key} : {value}')

In [8]:
print_details(name='pokhraj', age=26,country='India')

name : pokhraj
age : 26
country : India

In [9]:
def print_details(*arg,**var):
    for val in arg:
        print(f'positionsl argument : {val}')
        
    for key,value in var.items():
        print(f'{key} : {value}')

In [11]:
print_details(1,2,3,4,'Pokhraj',name='Pokhraj',age=26,country='India')

positionsl argument : 1
positionsl argument : 2
positionsl argument : 3
positionsl argument : 4
positionsl argument : Pokhraj
name : Pokhraj
age : 26
country : India

In [12]:
def multiply(a,b):
    return a*b,a

In [13]:
multiply(2,3)

(6, 2)

In [14]:
def convert_temp(temp,unit):
    if unit=='C':
        return temp*9/5 + 32
    elif unit=='F':
        return (temp-32)*5/9
    else:
        return None

In [15]:
print(convert_temp(25,'C'))
print(convert_temp(77,'F'))

77.0
25.0

In [17]:
def is_strong_password(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#%^&*()_+' for char in password):
        return False
    return True

print(is_strong_password("WeakPwd"))
print(is_strong_password('Str0ngPwd!'))

False
True

In [20]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    return total_cost

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3},
]

print(calculate_total_cost(cart))

5.8999999999999995

In [22]:
def check_palindrome(word):
    word=word.lower().replace(" ","")
    return word==word[::-1]

print(check_palindrome('A man a plan a canal panama'))

True

In [23]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
    
print(factorial(6))

720

In [24]:
def count_word_frequency(file_path):
    word_count={}

    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:"\'')
                word_count[word]=word_count.get(word,0)+1
    
    return word_count

In [26]:
count_word_frequency(r'C:\Users\pokhr\Desktop\Work\Data Science\Data\sample.txt')

{'hello': 1,
 'world': 1,
 'how': 1,
 'are': 1,
 'you': 1,
 'my': 1,
 'nme': 1,
 'is': 1,
 'pokhraj': 1}

In [1]:
addition = lambda a,b: a+b

In [3]:
print(addition(5,6))

11

In [5]:
even=lambda num:num%2==0
print(even(2))

True

In [6]:
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

In [7]:
list(map(lambda num:num**2, numbers))

[1, 4, 9, 16, 25, 36]

In [8]:
def square(x):
    return x*x

In [9]:
numbers=[1,2,3,4,5,6,7,8]

print(list(map(square,numbers)))

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
list(map(lambda num:num*num,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=map(lambda num1,num2:num1+num2,numbers1,numbers2)

In [13]:
print(list(added_numbers))

[5, 7, 9]

In [14]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))

print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [16]:
def get_name(person):
    return person['name']

In [17]:
people=[
    {'name':'Pokhraj','age':26},
    {'name':'Jack','age':33}
]

In [19]:
print(list(map(get_name,people)))

['Pokhraj', 'Jack']

In [20]:
def even(num):
    return num%2==0

In [25]:
lst=[1,2,3,4,5,6,7,8,9,10]

list(filter(even,lst))

[2, 4, 6, 8, 10]

In [27]:
number=[1,2,3,4,5,6,7,8,9]

list(filter(lambda num:num>5,number))

[6, 7, 8, 9]

In [30]:
people=[
    {'name':'Pokhraj','age':26},
    {'name':'Jack','age':33}
]

list(filter(lambda person:person['age']>27,people))

[{'name': 'Jack', 'age': 33}]