In [2]:
age=32
height=5.5
name="pokhraj"
is_student=True

print("age :", age)
print("Height :",height)
print("Name :",name)

age : 32
Height : 5.5
Name : pokhraj

In [3]:
first_name="Pokhraj"
last_name="Prasad"

In [4]:
2age=30
first-name="pokhraj"
@name="pokhraj"

SyntaxError: invalid decimal literal (1660322182.py, line 1)

In [5]:
name="Pokhraj"
Name="Pokhraj"

name==Name

True

In [7]:
age=25
height=6.1
name="Pokhraj"
is_student=True

print(type(name))

<class 'str'>

In [8]:
type(height)

float

In [12]:

age=25
print(type(age))

age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [13]:
age='25'
print(type(int(age)))

<class 'int'>

In [14]:
name="Pokhraj"
int(name)

ValueError: invalid literal for int() with base 10: 'Pokhraj'

In [15]:
Height=5.5
type(Height)

float

In [17]:
float(int(Height))

5.0

In [19]:
var=10
print(var,type(var))

var="hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [22]:
age=int(input("What is the age"))
print(age,type(age))

25 <class 'int'>

In [23]:
num1=float(input("Enter first number :"))
num2=float(input("Enter second number :"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum:",sum)
print("Difference",difference)
print("Product:",product)
print("Quotient",quotient)

Sum: 66.0
Difference 46.0
Product: 560.0
Quotient 5.6

True