In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\pokhr\Desktop\Work\Data Science\Data\Jomato.csv')

In [5]:
df.head()

,OrderId,RestaurantName,RestaurantType,Rating,No.of.Rating,AverageCost,OnlineOrder,TableBooking,CuisinesType,Area,LocalAddress,Delivery time
0,1,L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR,59
1,2,refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road,56
2,3,Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli,50
3,4,The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur,57
4,5,The Bbq,"Takeaway, Delivery",3.4,37,200.0,No,No,"Mughlai, Biryani, Chinese, North Indian",Whitefield,Whitefield,63

In [7]:
df.columns

Index(['OrderId', 'RestaurantName', 'RestaurantType', 'Rating', 'No.of.Rating',
       'AverageCost', 'OnlineOrder', 'TableBooking', 'CuisinesType', 'Area',
       'LocalAddress', 'Delivery time'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7104 entries, 0 to 7103
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderId         7104 non-null   int64
 1   RestaurantName  7104 non-null   object
 2   RestaurantType  7104 non-null   object
 3   Rating          7036 non-null   float64
 4   No.of.Rating    7104 non-null   int64
 5   AverageCost     7047 non-null   float64
 6   OnlineOrder     7104 non-null   object
 7   TableBooking    7104 non-null   object
 8   CuisinesType    7104 non-null   object
 9   Area            7104 non-null   object
 10  LocalAddress    7104 non-null   object
 11  Delivery time   7104 non-null   int64
dtypes: float64(2), int64(3), object(7)
memory usage: 666.1+ KB